@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define button styling inside @layer components */
@layer components {
  .btn-primary {
    background-color: var(--theme-color);
    color: var(--theme-button-text);
    @apply px-4 py-2 rounded-lg font-semibold;
  }
}

/* Theme Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --theme-color: #FF5D00;
  --theme-button-text: #FFF;
}

/* Dark Mode Support */
@media (prefers-color-scheme: dark) {
  :root {
    
    --theme-button: #FF8800; /* Dark mode variation */
    --theme-button-text: #000;
  }
}

/* Apply global styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}

.Toastify__toast-container {
  z-index: 999999999999 !important;
  position: fixed !important;
}

.Toastify__toast {
  position: relative !important;
  z-index: 99999999999 !important;
}

/* Testimonials Carousel Animation */
@keyframes slide {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide {
  animation: slide 0.5s ease-in-out;
}
